

<div class="jumbotron">
  <h1>JonWendt.com</h1>
  <p class="lead">An aggregation of memories, musings, and projects from Jonathan Patrick Wendt</p>
</div>

<hr>

<!-- <div class="row-fluid"> -->
  <h1>Blog</h1>

  <% @posts.each_with_index do |post, index| %>

  <% if index%3 == 0 %>
  <div class="row-fluid">
  <% end %>

    <div class="span4">
      <h2><%= post.title %></h2>
      <p><%= post.preview %></p>
      <p><%= link_to "Read more &raquo;".html_safe, post_path(post.id), :class => "btn" %></p>
    </div>

  <% if index%3 == 2 or index == @posts.size - 1 %>
  </div>
  <% end %>

  <% end %>