<%= render :partial => "header" %>
    <% @games.each_with_index do |game, index| %>
      <% if index%3 == 0 %>
        <div class="row-fluid">
      <% end %>

      <div class="image-container span4" style="margin-bottom: 10px;">
        <h3 style="margin-top: 0px;"><%= link_to game.title, game_path(game.id) %></h3>
        <p><%= link_to ("<img src=\"" + game.preview + "\">").html_safe, game_path(game.id) %></p>
        
      </div>

      <% if index%3 == 2 or index == @games.size - 1 %>
        </div>
      <% end %>
    <% end %>
<br/>