<style type="text/css">
  .sidebar-nav {
    padding: 9px 0;
  }
</style>

<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <% if !@project.videos.empty? %>
      <li><%= link_to "Videos", videos_project_path(@project.id) %></li>
    <% end %>
    <li class="nav-header">Posts</li>
    <% @project.posts.each do |post| %>
      <%= sidebar_link(post) %>
    <% end %>
    
    <% if @is_admin %>
      <br/>
      <%= link_to "New Post", new_post_path, :class => "btn btn-primary" %>
    <% end %>
  </ul>
</div>