<% @projects.pluck(:project_type).uniq.each_with_index do |project_type, index| %>
  <%= render partial: "partials/header", locals: { text: project_type } %>

  <div class='row'>
    <% @projects.where(project_type: project_type).each do |project| %>
      <div class="col-md-4" style="padding: 10px;">
        <div class='image-container project-preview'>
          <h3 class='post-title'><%= link_to project.title, project_path(project.id) %></h3>
          <%= link_to image_tag(project.preview, class: 'img-responsive'), project_path(project.id) %>
        </div>
      </div>
    <% end %>
  </div>
  <% if index != @projects.pluck(:project_type).uniq.count - 1 %>
    <hr>
  <% end %>
<% end %>

<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' if @is_admin %>