<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The Raspberry Pi has not checked in recently!</h1>
    <p>
      This could mean that power is not being supplied to the Pi (and therefore your hydroponics system!), or that it has no internet connection. Go check out the system.
    </p>
  </body>
</html>