<li class='nested-fields'>
  <div class='row'>
    <div class='col-md-10'>
      <%= f.fields_for :content do |content| %>
        <%= render partial: f.object.content_type.downcase + "_fields", locals: { f: f, content: content } %>
      <% end %>
    </div>
    <div class='col-md-2'>
      <%= f.hidden_field :content_type %>
      <%= link_to_remove_association 'Remove', f, class: 'btn btn-danger' %>
    </div>
  </div>
</li>