<div class="jumbotron">
  <h2>Contact Me</h2>
</div>

<hr>

<div class="row-fluid">
  <div class="span6">
    <p><b>Email</b> - <%= mail_to "jpwendt@asu.edu" %></p>
    <p><b>Phone</b> - Available upon request</p>
    <p><b>Résumé</b> - <%= link_to "Here", "https://www.dropbox.com/s/pxbpyqfvpi1h2iy/Resume.txt" %></p>
  </div>

  <div class="span6">
    <%= image_tag(asset_path("me.png")) %>
  </div>
</div>