/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  /*max-width: 1000px;*/
}
.container-fluid > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  padding: 0px;
  background-color: white;
  margin: 30px 0;
  text-align: center;
}
.jumbotron h2 {
  font-size: 45px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  /*display: table;*/
  width: 100%;
}
.navbar .nav li {
  /*display: table-cell;*/
  /*width: 1%;*/
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}


/* Sortable */
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}


/* My stuff */
.image-container {
  text-align: center;
  padding: 10px;
  background-color: #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #555;

  word-wrap: break-word;
  word-break: break-word;
}
.image-container h3 {
  font-size: 30px;
}
.post-content .image-container {
  margin: 20px 0 20px 0;
}
.image-container .expandable {
  max-height: 400px;
  margin: auto;
}
.image-container .expandable:hover {
  cursor: pointer;
}
.image-container .image-caption {
  margin: 10px 0 0 0;
}
.project-preview img {
  /*max-height: 400px;*/
  text-align: center;
  margin: 0 auto;
}


.sidebar {
  /*max-width: 500px;*/
}
.sidebar-nav {
  padding: 9px 0;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
  padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}

.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.nav-list .nav-header {
  margin-left: 0px;
  text-transform: uppercase;
  /*font-weight: bold;*/
  color: #999;
}

.list-group-item.active {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
}


.post-title {
  line-height: 30px;
  margin-top: 0px;
}

.post-content {
  font-size: 16px;
}
.post-content > p {
  font-size: 16px;
}

.cover_art {
  padding: 15px;
}

.playlist {
  border: 1px solid #eee;
  border-radius: 5px;
  /*background-color: #eee;*/
}

.play-button {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  display: none;
}

.no-padding {
  padding: 0px;
}