<%= render template: 'layouts/application' %>

<div class="jumbotron">
  <h2><%= title_with_link(@project) %></h2>
</div>

<hr>

<div class="row">
  <div class="col-md-3 sidebar"><%= render :partial => "sidebar" %></div>
  <div class="col-md-9">
    <%= yield %>
  </div>
</div>